<section class="text-white editable" id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h6 class="pb-3">CONTACT INFORMATION</h6>
            <p>info@wisergirls.org</p>
            <p>(919) 307-6396</p>
            <p>WISER International<br />2608 Erwin Rd<br />Suite 148 - #107<br />Durham, NC 27705</p>
          </div>
          <div class="col-md-3">
            <h6 class="pb-3">CONTACT INFORMATION</h6>
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link text-white" href="/who_we_are">WHO WE ARE</a></li>
              <li class="nav-item"><a class="nav-link text-white" href="/what_we_do">WHAT WE DO</a></li>
              <li class="nav-item current_page_item"><a class="nav-link text-white" href="/get_involved/">GET INVOLVED</a></li>
              <li class="nav-item"><a class="nav-link text-white" href="/news_and_updates">NEWS AND UPDATES</a></li>
              <li class="nav-item"><a class="nav-link text-white" href="/contact/">CONTACT US</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h6 class="pb-3">SUPPORT WISER</h6>
            <ul class="navbar-nav">
              <li class="nav-item pt-2 pb-2"><a id="donate_button" class="pt-2 pb-2 pl-5 pr-5" href="/get_involved/">HOW TO DONATE </a></li>
            </ul>
            <h6 class="pt-5">SUBSCRIBE TO OUR NEWSLETTER</h6>
            <form>
              <div class="form-row">
                <div class="col-12"><input type="email" class="form-control pt-1 pb12 pl-3 pr-2" placeholder="Enter your email" /></div>
                <div class="col-12  mt-3  mb-auto ">
                  <ul class="navbar-nav">
                    <li class="nav-item pt-2 pb-2"><a class="blue-button pt-2 pb-2 pl-5 pr-5 text-center cc-active" href=" ">SUBSCRIBE</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <h6>SOCIAL MEDIA LINKS</h6>
            <div class="row pt-3">
              <div class="col-md-12 ">
                <div class="mb-5 d-flex text-center"><a href="https://www.facebook.com/WISERGirlsKenya"><i class="fab fa-facebook-square fa-lg text-light white-text mr-4"> </i></a> <a href="https://www.instagram.com/wiser_international/"> <i class="fab fa-instagram fa-lg text-light white-text mr-4"> </i></a> <a href="https://www.linkedin.com/company/wiserinternational/"> <i class="fab fa-linkedin fa-lg text-light white-text mr-4"> </i></a> <a href="https://twitter.com/WISERGirls_Intl"> <i class="fab fa-twitter-square fa-lg white-text text-light mr-4"> </i></a> <a href="https://www.youtube.com/channel/UCnxmoFsSgBUIfhVevjwlQFg?view_as=subscriber"> <i class="fab fa-youtube-square fa-lg text-light"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
