---
layout: page
title: Project Template
---

<section class="editable">
        <div class="getinvolved-bgimage">
          <h1 style=" font-weight:bold " class="display-4">WISER believes that educating girls<br />changes the world.</h1>
        </div>
      </section>
<!-- <section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class=" centered col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-auto mb-auto">
                <h1>WISER believes that educating girls <br />
                    changes the world.
                </h1>
            </div>
        </div>
    </div>
</section> -->

<section class="editable ">
  <div class="container pb-5">
    <div class="col-12">
      <h1 class="text-center pb-3" style="font-weight: 700;color: #222E61;">OUR APPROACH</h1>
    </div>
    <div class="row align-items-center pb-5 pt-5">
      <div class="col-md-6"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/model-image.jpg" /></div>
      <div class="col-md-6">
        <p>Our flagship program, the WISER Girls Secondary School, provides essential resources, leadership training, psychosocial support, sexual and reproductive health education, and hands-on STEM opportunities to build lasting capacity in Kenyan girls.</p>
        <p>The WISER campus then serves as a home base for the delivery of high-impact community programs, offering health education, screenings, safe water, and clean energy opportunities to the region that surrounds us.</p>
        <p><strong>Our goal? </strong></p>
        <p>To be a hub for excellence and outreach in one of the hardest-to-reach areas of Kenya while creating impact for thousands of girls and their communities.</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="pr-5 pl-5 pb-5 py-0">
    <div class="col-12 mt-5">
        <h1 class="text-center pb-3 pt-5 editable" style="font-weight: 700;color: #222E61;"> OUR MODEL </h1>
    </div>
    <div class=" col-12 row ">
        <div class=" col-md-4 pb-3">
            <div>
                <img src="./img/Our-model-Educated.png" style="width: 100% !important;" />
            </div>

            <h3 class="pt-4 pb-2" style="color: #707070;"> Every girl educated </h3>
            <p> With common barriers like poverty, food
                insecurity, healthcare access, and psychosocial
                well-being mitigated, WISER unlocks girls’
                potential through exceptional academic
                instruction by local educators, enrichments in
                STEM, the arts, and athletics, and peer-to-peer
                and mentor led psychosocial support. </p>
        </div>

        <div class=" col-md-4 pb-3">
            <img src="/img/Our-model-Supported.png" style="width: 100% !important;" />
            <h3 class="pt-4 pb-2" style="color: #707070;"> Every girl supported </h3>
            <p> WISER provides each and every one of its
                students with everything they need to succeed
                at school. And that means everything: from
                school supplies and menstrual hygiene
                products, to uniforms and three meals a day, all
                under a safe roof with caring adult mentors and
                educators. </p>
        </div>

        <div class=" col-md-4 pb-3">
            <img src="/img/Our-model-Healthy.png" style="width: 100% !important;" />
            <h3 class="pt-4 pb-2" style="color: #707070;"> Every girl healthy </h3>
            <p> WISER’s “whole girl” approach to wellness
                recognizes that mental, physical, emotional, and
                sexual well-being are integrally linked and
                foundational to both individual and community
                success. That means WISER girls are not only
                healthy, they are champions of their own
                community’s well-being. </p>
        </div>
    </div>
</section> -->

<section style="background-color: #F2F2F2" class="py-5 editable">
  <div class="container pb-5">
    <div class="col-12">
      <h1 class="text-center pb-3" style="font-weight: 700;color: #222E61;">OUR MODEL</h1>
    </div>
    <div class="row align-items-center pb-5 pt-5">
      <div class="col-md-6"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block" src="/img/model-image.jpg" /></div>
      <div class="col-md-6">
        <p>WISER empowers girls in rural Kenya to overcome the barriers that threaten their health, safety, and education. Our flagship program, the WISER Girls Secondary School, provides essential resources, leadership training, psychosocial support, sexual and reproductive health education, and hands-on STEM opportunities to build lasting capacity in Kenyan girls.</p>
        <p>Our goal? To be a hub for excellence and outreach in one of the hardest-to-reach areas of Kenya while creating impact for thousands of girls and their communities.</p>
      </div>
    </div>
  </div>
</section>
<section class="editable ">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <h1 class="text-center pb-3" style="font-weight: 700;color: #222E61;">PARTNERS AND ACCOLADES</h1>
        <h1 class="text-center pb-5" style="font-weight: 700;color: #707070;">GRANT MAKERS</h1>
      </div>
    </div>
    <div class="row py-3 mb-5">
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-01.png" /></div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-02.png" /></div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-03.png" /></div>
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-04.png" /></div>
    </div>
    <div class="row py-3 mb-5">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-06.png" /></div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-07.png" /></div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-08.png" /></div>
    </div>
    <div class="row py-3 mb-5">
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-09.png" /></div>
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-10.png" /></div>
      <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-11.png" /></div>
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-12.png" /></div>
    </div>
    <div class="row py-3 mb-5">
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-13.png" /></div>
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-14.png" /></div>
      <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/grant_makers-15.png" /></div>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center pb-5" style="font-weight: 700;color: #707070;">PARTNER SCHOOLS</h1>
          </div>
        </div>
        <div class="row py-3 mb-5">
          <div class="col-md-3  "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-1.png" /></div>
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-2.png" /></div>
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-3.png" /></div>
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-4.png" /></div>
        </div>
        <div class="row py-3 mb-5">
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-5.png" /></div>
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-6.png" /></div>
          <div class="col-md-3"><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-7.png" /></div>
          <div class="col-md-3 "><img alt="This is a repsonsive placeholder image" class="img-fluid" src="/img/partner_schools-8.png" /></div>
        </div>
      </div>
    </section>
  </div>
</section>
