---
layout: page
title: Ways to donate
---

<section class="editable">
        <div class="getinvolved-bgimage">
          <h1 style=" font-weight:bold " class="display-4">How to Make Your WISER Gift</h1>
        </div>
      </section>

<section class="container pr-5 pl-5 pb-5 py-0 editable">
    <div class=" pb-5">
        <div class="col-12 mt-5 text-center justify-content-center ">
            <h3 class=" pb-3 editable" style="font-weight: 700;color: #222E61;">
              WAYS TO DONATE
            </h3>
            <p style="font-size: 18px;line-height: 1.2; ">
                WISER relies on your gifts to fund our vision of a world where girls are healthy,safe,educated,and
                leading their
                communities.Check out the many ways to give below,or <a href="/contact/" class="link"> Contact us </a>
                to discuss your giving.
            </p>
        </div>
    </div>
</section>

<section class="bg-light editable">
    <div class="container editable">
      <div class="row align-items-center mb-5 pt-5">
        <div class="col-md-6"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/online donations.png" /></div>
        <div class="col-md-6">
          <h3 class="pb-3 who_we_are ">ONLINE DONATIONS</h3>
          <p>The quickest,easiest way to show your support is to donate online now! Make a one-time gift,or setup recurring gifts for continued impact.</p>
          <div class="pt-4"><a id="donate_button" class="pr-4 pl-4" href="https://wisergirls.networkforgood.com/">DONATE</a></div>
        </div>
      </div>
    </div>
</section>

<section class="editable">
    <div class="container editable">
      <div class="row  text-center mb-5 pt-5">
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/mpesa.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">MPESA</h5>
              <p>WISER accepts Kenyan Shilling (KES) donations via M-Pesa through a partnership with Global Giving and M-Changa. Click <a class="link" href="https://www.globalgiving.org/projects/empower-and-educate-wiser-girls-in-kenya/donate/#mpesa"> here </a> to learn more!</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/wire and stock transfers.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">WIRE AND STOCK TRANSFERS</h5>
              <p>To donate by wire or stock transfer, please contact our Operations Manager, Michelle Gherardi at info@wiser.org</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/checks.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">CHECKS</h5>
              <p>Checks can be made out to WISER International and mailed to:</p>
              <p>2608 Erwin Rd<br />Suite 148 - #107<br />Durham, NC 27705</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/corporate match.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are text-center">CORPORATE MATCH</h5>
              <p>Ask your employer about corporate philanthropy programs to match your donations to WISER! If you have questions or would like to start a matching program at your company, please contact our Development Manager, Emily Dake at info@wiser.org</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row  text-center mb-5 pt-5">
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/planned giving.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">PLANNED GIVING</h5>
              <p>Consider cementing your legacy as a WISER champion through bequests and other planned gifts to support our work for generations to come. To discuss planned giving, please contact our Development Manager, Emily Dake at info@wiser.org</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/inkind.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">IN KIND</h5>
              <p>WISER works with partners who provide goods and services like menstrual supplies, STEM equipment, and professional services like tech support, legal consulting, and more. Contact us to learn more.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/amazon smile.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are">AMAZON SMILE</h5>
              <p>Support WISER with 0.5% of each eligible purchase you make on Amazon! Visit smile.amazon.com, click on the AmazonSmile dropdown menu, search for WISER Girls International, and select us as your charity!</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-12"><img id="get_involved_img" alt="Image Title" class="img-fluid mx-auto d-block " src="/img/paypal.png" /></div>
            <div class="col-12">
              <h5 class="who_we_are text-center">PAYPAL</h5>
              <p>Click <a class="link" href="https://www.globalgiving.org/projects/empower-and-educate-wiser-girls-in-kenya/donate/#mpesa"> here </a> to Donate to WISER through Paypal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
